<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rabbit.ui.pages">
      <category
            id="rabbit.ui.categories.java"
            name="Java Specifics">
      </category>
      <page
            category="rabbit.ui.categories.java"
            class="rabbit.ui.internal.pages.java.JavaPage"
            icon="icons/full/obj16/java_resource.gif"
            id="rabbit.ui.pages.java"
            name="Java Elements">
      </page>
   </extension>

</plugin>
