<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rabbit.ui.pages">
      <page
            category="rabbit.ui.categories.project"
            class="rabbit.ui.internal.pages.TaskPage"
            icon="icons/full/obj16/task.gif"
            id="rabbit.mylyn.ui.pages.task"
            name="Tasks">
      </page>
   </extension>

</plugin>
