<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rabbit.tracking.trackers" name="Tracker Extensions" schema="schema/trackers.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="rabbit.tracking.internal.startup.Startup">
      </startup>
   </extension>

</plugin>
