<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rabbit.tracking.ui.pages" name="rabbit.tracking.ui.pages" schema="schema/rabbit.tracking.ui.pages.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rabbit.tracking.ui.internal.RabbitView"
            id="Rabbit.Features.UI.view1"
            name="Metrics"
            restorable="true">
      </view>
   </extension>

</plugin>
