<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rabbit.tracking.tracker">
      <tracker
            class="rabbit.tracking.trackers.ExecutionTracker"
            id="rabbit.tracking.trackers.commandTracker"
            name="Command Tracker">
      </tracker>
      <tracker
            class="rabbit.tracking.trackers.PartTracker"
            id="rabbit.tracking.trackers.partTracker"
            name="Part Tracker">
      </tracker>
   </extension>

</plugin>
