<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rabbit.tracking.ui.pages">
      <page
            class="rabbit.tracking.ui.pages.EclipseUsagePage"
            name="Eclipse Usage">
         <page
               class="rabbit.tracking.ui.pages.CommandPage"
               name="Commands">
         </page>
         <page
               class="rabbit.tracking.ui.pages.PartPage"
               name="Workbench Tools">
         </page>
         <page
               class="rabbit.tracking.ui.pages.SessionPage"
               name="Sessions">
         </page>
      </page>
   </extension>

</plugin>
