<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rabbit.tracking.ui.pages">
      <page
            class="rabbit.tracking.ui.pages.internal.EclipseUsagePage"
            name="Eclipse Usage">
         <page
               class="rabbit.tracking.ui.pages.internal.CommandPage"
               name="Commands">
         </page>
         <page
               class="rabbit.tracking.ui.pages.internal.PartPage"
               name="Editors and Views">
         </page>
         <page
               class="rabbit.tracking.ui.pages.internal.SessionPage"
               name="Sessions">
         </page>
         <page
               class="rabbit.tracking.ui.pages.internal.PerspectivePage"
               name="Perspectives">
         </page>
      </page>
   </extension>

</plugin>
