<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rabbit.core.trackers" name="Tracker Extension" schema="schema/rabbit.core.trackers.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="rabbit.core.internal.util.ResourceDataAttacher">
      </startup>
   </extension>
   <extension
         point="rabbit.core.trackers">
      <tracker
            class="rabbit.core.internal.trackers.FileTracker">
      </tracker>
      <tracker
            class="rabbit.core.internal.trackers.CommandTracker">
      </tracker>
      <tracker
            class="rabbit.core.internal.trackers.PerspectiveTracker">
      </tracker>
      <tracker
            class="rabbit.core.internal.trackers.PartTracker">
      </tracker>
      <tracker
            class="rabbit.core.internal.trackers.LaunchTracker">
      </tracker>
   </extension>

</plugin>
