<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rabbit.ui.pages" name="rabbit.ui.pages" schema="schema/rabbit.ui.pages.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="rabbit.ui.view"
            class="rabbit.ui.internal.RabbitView"
            icon="resources/rabbitview.png"
            id="rabbit.ui.view.rabbitview"
            name="Rabbit"
            restorable="true">
      </view>
      <category
            id="rabbit.ui.view"
            name="Rabbit">
      </category>
   </extension>
   <extension
         point="rabbit.ui.pages">
      <page
            class="rabbit.ui.internal.pages.EclipseUsageCategory"
            description="This category contains pages that display usage information about Eclipse"
            icon="resources/eclipse.gif"
            name="Eclipse Usage">
         <page
               class="rabbit.ui.internal.pages.CommandPage"
               description="Displays the execution count of each command"
               icon="resources/cut.gif"
               name="Commands">
         </page>
         <page
               class="rabbit.ui.internal.pages.PartPage"
               description="Displays how much time is spent using different views and editors"
               icon="resources/pin_editor.gif"
               name="Editors and Views">
         </page>
         <page
               class="rabbit.ui.internal.pages.SessionPage"
               description="Displays the how much time is spent using Eclipse"
               icon="resources/home.gif"
               name="Sessions">
         </page>
         <page
               class="rabbit.ui.internal.pages.PerspectivePage"
               description="Displays how much time is spent using different perspectives"
               icon="resources/defaultpersp.gif"
               name="Perspectives">
         </page>
      </page>
      <page
            class="rabbit.ui.internal.pages.ResourcesCategory"
            description="This category contains pages that display information relating to projects"
            icon="resources/projectclosed.gif"
            name="Project Related">
         <page
               class="rabbit.ui.internal.pages.ResourcePage"
               description="Displays how much time is spent on different resources"
               icon="resources/res.gif"
               name="Resources">
         </page>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="rabbit.ui.internal.pref.RabbitPreferencePage"
            id="rabbit.ui.mainPref"
            name="Rabbit">
      </page>
   </extension>

</plugin>
