<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rabbit.ui.pages" name="rabbit.ui.pages" schema="schema/rabbit.ui.pages.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rabbit.ui.internal.RabbitView"
            id="rabbit.ui.view.rabbitview"
            name="Rabbit"
            restorable="true">
      </view>
   </extension>
   <extension
         point="rabbit.ui.pages">
      <page
            class="rabbit.ui.internal.pages.EclipseUsageCategory"
            name="Eclipse Usage">
         <page
               class="rabbit.ui.internal.pages.CommandPage"
               name="Commands">
         </page>
         <page
               class="rabbit.ui.internal.pages.PartPage"
               name="Editors and Views">
         </page>
         <page
               class="rabbit.ui.internal.pages.SessionPage"
               name="Sessions">
         </page>
         <page
               class="rabbit.ui.internal.pages.PerspectivePage"
               name="Perspectives">
         </page>
      </page>
      <page
            class="rabbit.ui.internal.pages.ResourcesCategory"
            name="Resources">
         <page
               class="rabbit.ui.internal.pages.FilePage"
               name="Files">
         </page>
         <page
               class="rabbit.ui.internal.pages.FolderPage"
               name="Folders">
         </page>
         <page
               class="rabbit.ui.internal.pages.ProjectPage"
               name="Projects">
         </page>
      </page>
   </extension>

</plugin>
